# Copyright (c) 2026 Freqchip
# SPDX-License-Identifier: Apache-2.0

# --- 硬件保护 ---
# 关闭 ARM MPU（本 SoC 无 MPU 或暂时不使用）
CONFIG_ARM_MPU=n
# 关闭 HW 栈溢出检测（无 MPU 支持时不能开启）
CONFIG_HW_STACK_PROTECTION=n
# 主线程栈大小（字节）
CONFIG_MAIN_STACK_SIZE=5120

# --- 串口 & 控制台 ---
# 启用 Zephyr 串口驱动框架
CONFIG_SERIAL=y
CONFIG_UART_INTERRUPT_DRIVEN=y
# 启用 Zephyr 控制台子系统
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y
CONFIG_STDOUT_CONSOLE=n
# --- shell ---
CONFIG_SHELL=y
CONFIG_SHELL_BACKEND_SERIAL=y
CONFIG_SHELL_BACKEND_SERIAL_API_INTERRUPT_DRIVEN=y
CONFIG_SHELL_BACKEND_SERIAL_TX_RING_BUFFER_SIZE=64
CONFIG_SHELL_BACKEND_SERIAL_RX_RING_BUFFER_SIZE=64

# --- 电源管理 ---
CONFIG_PM=y                            # 系统 PM 基础（depends on SYS_CLOCK_EXISTS && HAS_PM）
CONFIG_PM_DEVICE=y                     # 设备电源管理接口
CONFIG_PM_DEVICE_SYSTEM_MANAGED=y      # 系统级自动管理（睡眠时自动挂起所有设备）
CONFIG_PM_DEVICE_RUNTIME=y             # 运行时 PM：单设备 get/put 引用计数

# --- 中断 ---
CONFIG_DYNAMIC_INTERRUPTS=y
# --- GPIO ---
CONFIG_GPIO=y
CONFIG_LED=y
# --- ADC ---
CONFIG_ADC=y
# --- I2C ---
CONFIG_I2C=y
# --- PINCTRL ---
CONFIG_PINCTRL=y
# --- WDT ---
CONFIG_WATCHDOG=y
# --- CAN ---
CONFIG_CAN=y
CONFIG_CAN_FD_MODE=y
CONFIG_CAN_MANUAL_RECOVERY_MODE=y
# --- bluetooth ---
CONFIG_BT=y
CONFIG_BT_CTLR=n
CONFIG_BT_HCI=y

# --- THREAD_PRIORITY ---
CONFIG_MAIN_THREAD_PRIORITY=0
CONFIG_SHELL_THREAD_PRIORITY_OVERRIDE=y
CONFIG_SHELL_THREAD_PRIORITY=5

# --- 硬浮点 ABI ---
CONFIG_FPU=y
CONFIG_FPU_SHARING=y
CONFIG_FP_HARDABI=y

# --- C 标准库 ---
# 使用 picolibc
CONFIG_PICOLIBC=y

# --- 禁用Zephyr内存管理 ---
CONFIG_COMMON_LIBC_MALLOC=n

# --- tick 1KHz ---
CONFIG_SYS_CLOCK_TICKS_PER_SEC=1000


# --- 可选 picolibc 功能（按需开启，四选一） ---
# 完整整数 + 浮点数支持（%f %lf）
CONFIG_PICOLIBC_IO_FLOAT=y
# 极简整数 printf（裁剪体积，不含浮点数/long long/宽字符）
# CONFIG_PICOLIBC_IO_MINIMAL=y

