# Copyright (c) 2026 Freqchip
# SPDX-License-Identifier: Apache-2.0

config I2C_FREQCHIP
	bool "Freqchip I2C driver"
	default y
	depends on DT_HAS_FREQCHIP_FREQCHIP_I2C_ENABLED
	help
	  Enable the I2C driver for Freqchip FR802x series MCUs.
