# Copyright (c) 2026 Freqchip
# SPDX-License-Identifier: Apache-2.0

config SOC_FAMILY_FREQCHIP_FR
	bool
	select HAS_FREQCHIP_DRIVERS
	select BUILD_OUTPUT_HEX

if SOC_FAMILY_FREQCHIP_FR

rsource "*/Kconfig"

endif # SOC_FAMILY_FREQCHIP_FR
